/*Register*/
.registation .dropdown-menu {
    position: absolute;
    background-color: #395676;
    border: none;
    border-radius: 0;
    min-width: 132.5px;
    display: none;
    z-index: 1;
}

.registation:hover .dropdown-menu {
    display: block;
}

.registation .dropdown-menu .menu {
    display: block;
}

.registation .dropdown-menu .menu a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.registation .dropdown-menu .menu:hover {
    background-color: #8b8989;
}

/*Sign Up*/
.center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    margin-top: 6.5%;
}

.col-xs-11 {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    background-color: #395676;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

label {
    font-weight: bold;
}

a {
    color: #395676;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#errorU,
#errorP,
#errorE,
#errorCP {
    color: red;
}

.pass {
    display: flex;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-size: cover;
}
